<span
        class="Z3988"
        title="ctx_ver=Z39.88-2004&rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&rft.genre=book&rft.btitle={{ document.title|first|url_encode }}&rft.au={{ document.creator|first|url_encode }}&rft.date={{ document.year_publish|url_encode }}&rft.pub={{ document.publisher|first|url_encode }}&rft.place={{ document.place_publish|first|url_encode }}">
</span>
