{% extends 'base.html.twig' %}

{% set title = document.bytitle %}

{% block title %}{{ title }}{% endblock %}

{% block body %}


    {% set thumbs = [document.thumbs_url] %}
    {% set presentation = [document.min_url] %}

    {% set images = thumbs | merge(presentation)  %}

    <h1>{{ document.bytitle }}</h1>

    {% if document.thumbs_url is defined %}
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native" data-keyboard="true">
            {% for image in images.0 | slice(0, 30)%}
                 <a data-thumb="{{ image }}" href="{{ presentation[0][loop.index0] }}"></a>
            {% endfor %}
        </div>
    {% endif %}

    <p style="clear:both">

        Strukturtyp: {{ document.docstrct | trans }}

        <br>

        Titel: {{ document.bytitle }}

        {% if document.creator is defined %}
            <br>
            Autor:
            {% for author in document.creator %}
              {{ author }}{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}

        {% endif %}


        {% if document.yearpublish is defined %}
            <br>
            Erscheinungsjahr: {{ document.yearpublish }}
        {% endif %}


        {% if document.placepublish is defined %}
            <br>
            Erscheinungsort:
            {% for place in document.placepublish %}
              {{ place }}{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}
        {% endif %}

        {% if document.publisher is defined %}
            <br>
            Verlag:
            {% for publisher in document.publisher %}
              {{ publisher }}{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}
        {% endif %}

        <br>
        Kollektionen:
        {% for dc in document.dc %}
          {{ dc | trans }}{% if loop.last %}{% else %}, {% endif %}
        {% endfor %}


        <br>
        PURL: <a href="{{ document.purl }}">{{ document.purl }}</a>

        <br>
        gbv-ppn: {{ document['id_gbv-ppn_s'][0] }}

        {% if document.id_PPNanalog_s is defined %}

        <br>
        PPN (original): <a href="http://opac.sub.uni-goettingen.de/DB=1/PPN?PPN={{ document.id_PPNanalog_s.0 | replace({'PPN': ''}) }}">{{ document.id_PPNanalog_s.0 }}</a>
{% endif %}


        {% if document.id_ADBID_s is defined %}
            <br>
            ADBID: {{ document.id_ADBID_s.0  }}
        {% endif %}

        <br>
    {% include "@SubugoeFind/partials/links.html.twig" %}
    </p>


{% endblock %}
