{% extends 'base.html.twig' %}

{% if search.query is not empty %}
    {% set title = search.query %}
{% endif %}

{% block findnavigation %}
    <div class="find_count">{{ pagination.getTotalItemCount | number_format(0, ',', '.') }} {{ 'numfound'|trans }}</div>
   {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block contentabove %}
{% endblock %}

{% block content %}
    <ol class="result_list" start="{{ search.offset + 1 }}">
        {% for result in pagination %}
            <li class="result_item">
                <article class="result_wrap">
                    <div class="result_thumbnail">
                        {% if result.fields.presentation_url is defined %}
                            <img src="{{ path('_image', {'format': 'jpg', 'identifier': (result.fields.presentation_url.0 | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})), 'region': 'full', 'size': '100,165', 'rotation': 0, 'quality': 'default'}) }}" alt="">
                        {% endif %}
                    </div>
                    <div class="result_metadata">
                        <h2 class="result_title">
                            <a class="result_link" href="{{ path('_detail', {'id': result.fields.id}) }}">{{ result.fields.title | first }}</a>
                            <button class="result_title-toggle -expand">
                                {{ 'Show full title'|trans }}
                            </button>
                            <button class="result_title-toggle -collapse">
                                {{ 'Collapse title'|trans }}
                            </button>
                        </h2>
                        <p class="result_paragraph">
                            {% if result.fields.creator is defined %}
                                {{ 'creator' | transchoice(result.fields.creator | length) }}:
                                <span class="result_author-name">
                                    {% for author in result.fields.creator %}
                                        {{ author }}{% if loop.last %}{% else %}, {% endif %}
                                    {% endfor %}
                                </span>
                                <br>
                            {% endif %}
                            {{ result.fields.docstrct | trans }}
                        </p>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    <div class="facets_header">
        <button class="facets_toggle -show">{{ 'Show filters'|trans }}</button>
        <button class="facets_toggle -hide hidden">{{ 'Hide filters'|trans }}</button>
    </div>
    <div class="facets_body">
        {% for key, facet in facets %}
            <article class="facet">
                <h2>{{ key | transchoice(facet | length) }}</h2>
                <ol class="facet_list">
                    {% for value, count in facet if count > 0 %}
                        {% set facet_name = ['facet', key]|join('-') %}
                        <li class="facet_item">
                            <a class="facet_link" href="{{ path(app.request.attributes.get('_route'), {
                                'filter': queryParams|merge({
                                    (facetCounter):  {
                                        (key) : (value)
                                    }
                                }),
                            'q': (app.request.get('q')),
                            'id': (app.request.get('id'))
                            }) }}">{{ value | trans }} <span class="facetCount">{{ count | number_format(0, ',', '.') }}</span></a>
                        </li>
                    {% endfor %}
                </ol>
                <button class="facet_list-toggle -expand">{{ 'expand'|trans }}</button>
                <button class="facet_list-toggle -collapse">{{ 'collapse'|trans }}</button>
            </article>
        {% endfor %}
    </div>
{% endblock %}
