{% extends 'base.html.twig' %}

{% if search.query is not empty %}
    {% set title = query %}
{% endif %}

{% block findnavigation %}
    <div class="findCount">{{ pagination.getTotalItemCount | number_format(0, ',', '.') }} {% trans %}numfound{% endtrans %}</div>
   {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block contentabove %}
{% endblock %}

{% block content %}
    <ol class="resultList" start="{{ search.offset + 1 }}">
        {% for result in pagination %}
            <li class="resultItem">
                <article class="resultWrap">
                    <div class="resultThumbnail">
                        {% if result.fields.thumbs_url is defined %}
                            <img src="{{ result.fields.thumbs_url.0 }}" alt="">
                        {% endif %}
                    </div>
                    <div class="resultMetadata">
                        <h2 class="resultTitle"><a href="{{ path('_detail', {'id': result.fields.id}) }}">{% if result.fields.bytitle is defined %}{{ result.fields.bytitle }}{% else %}{{ result.fields.title.0 }}{% endif %}</a></h2>
                        <p class="resultParagraph">
                            {% if result.fields.creator is defined %}
                                {{ 'creator' | transchoice(result.fields.creator | length) }}:
                                <span class="resultAuthorName">
                                    {% for author in result.fields.creator %}
                                        {{ author }}{% if loop.last %}{% else %}, {% endif %}
                                    {% endfor %}
                                </span>
                                <br>
                            {% endif %}
                            {{ result.fields.docstrct | trans }}
                        </p>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    <div class="facetsHeader">
        <button class="facetsToggle -show">{% trans %}Show filters{% endtrans %}</button>
        <button class="facetsToggle -hide hidden">{% trans %}Hide filters{% endtrans %}</button>
    </div>
    <div class="facetsBody">
        {% for key, facet in facets %}
            <article class="facet">
                <h2>{{ key | transchoice(facet | length) }}</h2>
                <ol class="facetList">
                    {% for value, count in facet if count > 0 %}
                        {% set facet_name = ['facet', key]|join('-') %}
                        <li class="facetItem">
                            <a class="facetLink" href="{{ path(app.request.attributes.get('_route'), {
                                'filter': queryParams|merge({
                                    (facetCounter):  {
                                        (key) : (value)
                                    }
                                }),
                            'q': (app.request.get('q')),
                            'id': (app.request.get('id'))
                            }) }}">{{ value | trans }} <span class="facetCount">{{ count | number_format(0, ',', '.') }}</span></a>
                        </li>
                    {% endfor %}
                </ol>
                <button class="facetListExpand">{% trans %}expand{% endtrans %}</button>
                <button class="facetListCollapse">{% trans %}collapse{% endtrans %}</button>
            </article>
        {% endfor %}
    </div>
{% endblock %}
