{% extends 'base.html.twig' %}

{% if search.query is not empty %}
    {% set title = search.query %}
{% endif %}

{% block findnavigation %}
    <div class="find_aside">
        <span class="find_count">{{ pagination.getTotalItemCount }} {{ 'results'|trans }}</span>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block contentabove %}
{% endblock %}

{% block content %}

    <ol class="result_list" start="{{ search.offset + 1 }}">
        {% if parentDocument is defined %}
            <li class="result_item">
                <h2 class="viewer_heading">{{ parentDocument.title|first }}</h2>

                <dl class="result_info -no-clear">
                    <dt>{{ 'docstrct'|transchoice(1) }}:</dt>
                    <dd>{{ parentDocument.docstrct|trans }}</dd>

                    {% if parentDocument.creator is defined %}
                        <dt>{{ 'creator'|transchoice(parentDocument.creator|length) }}:</dt>
                        <dd>
                            {% for author in parentDocument.creator %}
                                <a
                                href="{{ path('_search', {'filter': {0: {'facetcreator': author}}}) }}">{{ author }}</a>{% if loop.last %}{% else %}; {% endif %}
                            {% endfor %}
                        </dd>
                    {% endif %}

                    {% if parentDocument['year_publish'] is defined %}
                        <dt>{{ 'year_publish' | transchoice(1) }}:</dt>
                        <dd>{{ parentDocument['year_publish'] }}</dd>
                    {% endif %}

                    {% if parentDocument.placepublish is defined %}
                        <dt>{{ 'placepublish'|transchoice(parentDocument.placepublish|length) }}:</dt>
                        <dd>{{ parentDocument.placepublish|join(', ') }}</dd>
                    {% endif %}

                    {% if parentDocument.publisher is defined %}
                        <dt>{{ 'publisher'|transchoice(parentDocument.publisher|length) }}:</dt>
                        <dd>{{ parentDocument.publisher|join(', ') }}</dd>
                    {% endif %}

                    {% if parentDocument.dc is defined %}
                        <dt>{{ 'dc'|transchoice(parentDocument.dc|length) }}:</dt>
                        <dd>
                            {% for dc in parentDocument.dc %}
                                <a
                                href="{{ path('_collection', {id: dc}) }}">{{ dc | trans }}</a>{% if loop.last %}{% else %}, {% endif %}
                            {% endfor %}
                        </dd>
                    {% endif %}
                </dl>

                <ul class="result_links">
                    <li>
                        <a href="http://dfg-viewer.de/show/?set[mets]={{ url('_mets', {id: parentDocument.id}) }}">{{ 'DFG Viewer'|trans }}</a>
                    </li>
                    <li><a href="{{ url('_mets', {id: parentDocument.id}) }}">Mets</a></li>
                    <li><a href="{{ parentDocument.purl }}">{{ 'PURL'|trans }}</a></li>
                    {% if parentDocument.id_PPNanalog_s is defined %}
                        <li>
                            <a href="http://opac.sub.uni-goettingen.de/DB=1/PPN?PPN={{ parentDocument.id_PPNanalog_s.0 | replace({'PPN': ''}) }}">{{ 'Catalogue'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}

        {% for result in pagination %}
            <li class="result_item">
                <article class="result_wrap">
                    <div class="result_left">
                        {% if result.fields.nlh_id is defined %}
                            <a class="result_link -image" href="{{ path('_detail', {'id': result.fields.id}) }}">
                                <img class="result_thumbnail"
                                     src="{{ path('_image', {'format': 'jpg', 'identifier': result.fields.nlh_id | first, 'region': 'full', 'size': '100,165', 'rotation': 0, 'quality': 'default'}) }}"
                                     alt="">
                            </a>
                        {% endif %}
                    </div>
                    <div class="result_metadata">
                        <h2 class="result_title">

                            <a class="result_link" title="{{ result.fields.nonsort | first }}"
                               href="{{ path('_detail', {'id': result.fields.id}) }}">{{ result.fields.nonsort | first }}</a>
                            <button class="result_title-toggle -expand">
                                {{ 'Show full title'|trans }}
                            </button>
                            <button class="result_title-toggle -collapse">
                                {{ 'Collapse title'|trans }}
                            </button>
                        </h2>
                        <dl class="result_info">
                            {% if result.fields.creator is defined %}
                                <dt>{{ 'creator'|transchoice(result.fields.creator|length) }}:</dt>
                                <dd>
                                    {% for author in result.fields.creator %}
                                        {{ author }}{% if not loop.last %}; {% endif %}
                                    {% endfor %}
                                </dd>
                            {% endif %}
                            {% if result.fields['year_publish'] is defined %}
                                <dt>{{ 'year_publish' | transchoice(1) }}:</dt>
                                <dd>
                                    {{ result.fields['year_publish'] }}
                                </dd>
                            {% endif %}
                        </dl>
                        <p>
                            {{ result.fields.docstrct|trans }}
                            {% if result.fields.docstrct == 'volume' and result.fields.currentn is defined %}
                                &ndash; {{ 'currentno'|trans }} {{ result.fields.currentno }}
                            {% endif %}
                        </p>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    {% include '@SubugoeFind/Default/partials/facets.html.twig' %}
{% endblock %}

{% block footer %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}
