{% extends 'base.html.twig' %}

{% if search.query is not empty %}
    {% set title = search.query %}
{% endif %}

{% block findnavigation %}
    <div class="find_aside">
        <span class="find_count">{{ pagination.getTotalItemCount }} {{ 'results'|trans }}</span>,
        <span class="find_sort">
            {% set sort = app.request.get('sort') %}
            <label for="sort">{{ 'sorted by' | trans }}</label>
            <select class="find_sort-order" id="sort">
                <option value="score" {{ sort == 'score' ? 'selected' }}>
                    {{ 'score' | trans }}
                </option>
                <option value="yearpublish" {{ sort == 'yearpublish' ? 'selected' }}>
                    {{ 'yearpublish' | transchoice(1) }}
                </option>
                <option value="datemodified" {{ sort == 'datemodified' ? 'selected' }}>
                    {{ 'datemodified' | trans }}
                </option>
            </select>
        </span>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block contentabove %}
{% endblock %}

{% block content %}
    <ol class="result_list" start="{{ search.offset + 1 }}">
        {% for result in pagination %}
            <li class="result_item">
                <article class="result_wrap">
                    <div class="result_left">
                        {% if result.fields.presentation_url is defined %}
                            <a class="result_link -image" href="{{ path('_detail', {'id': result.fields.id}) }}">
                                <img class="result_thumbnail" src="{{ path('_image', {'format': 'jpg', 'identifier': (result.fields.presentation_url.0 | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})), 'region': 'full', 'size': '100,165', 'rotation': 0, 'quality': 'default'}) }}" alt="">
                            </a>
                        {% endif %}
                    </div>
                    <div class="result_metadata">
                        <h2 class="result_title">
                            <a class="result_link" title="{{ result.fields.title | first }}" href="{{ path('_detail', {'id': result.fields.id}) }}">{{ result.fields.title | first }}</a>
                            <button class="result_title-toggle -expand">
                                {{ 'Show full title'|trans }}
                            </button>
                            <button class="result_title-toggle -collapse">
                                {{ 'Collapse title'|trans }}
                            </button>
                        </h2>
                        <p class="result_paragraph">
                            {% if result.fields.creator is defined %}
                                {{ 'creator' | transchoice(result.fields.creator | length) }}:
                                <span class="result_author-name">
                                    {% for author in result.fields.creator %}
                                        {{ author }}{% if not loop.last %}; {% endif %}
                                    {% endfor %}
                                </span>
                                <br>
                            {% endif %}
                            {{ result.fields.docstrct | trans }} {% if result.fields.docstrct == "volume" %} — {% trans %}currentno{% endtrans %} {{ result.fields.currentno }}{% endif %}
                        </p>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    {% include '@SubugoeFind/Default/partials/facets.html.twig' %}
{% endblock %}

{% block footer %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}
