{% extends 'base.html.twig' %}

{% if search.query is not empty %}
    {% set title = search.query %}
{% endif %}

{% block findnavigation %}
    <div class="find_aside">
        <span class="find_count">{{ pagination.getTotalItemCount }} {{ 'results'|trans }}</span>,
        <span class="find_sort">
            {% set sortandorder = app.request.get('sort') ~ '_' ~ app.request.get('direction') %}
            {% set sort = app.request.get('sort') %}
            {% set route = app.request.attributes.get('_route') %}
            <label for="sort">{{ 'sorted by' | trans }}</label>
            <select class="find_sort-order" id="sort">
                <option value="score_desc" {{ sortandorder == 'score_desc' ? 'selected' }}>{{ 'score' | trans }}</option>
                <option value="yearpublish_desc" {{ sortandorder == 'yearpublish_desc' ? 'selected' }}>{{ 'yearpublish_desc' | transchoice(1) }}</option>
                <option value="yearpublish_asc" {{ sortandorder == 'yearpublish_asc' ? 'selected' }}>{{ 'yearpublish_asc' | transchoice(1) }}</option>
                <option value="datemodified_desc" {{ (sortandorder == 'datemodified_desc' or sort is empty or sort is not defined) and (route != '_volumes') ? 'selected' }}>{{ 'datemodified_desc' | trans }}</option>
                <option value="datemodified_asc" {{ sortandorder == 'datemodified_asc' ? 'selected' }}>{{ 'datemodified_asc' | trans }}</option>
                {% if route == '_volumes' %}
                    <option value="currentnosort_asc" {{ sortandorder == 'currentnosort_asc' or sort is empty or sort is not defined ? 'selected' }}>{{ 'currentnosort_asc' | trans }}</option>
                    <option value="currentnosort_desc" {{ sortandorder == 'currentnosort_desc' ? 'selected' }}>{{ 'currentnosort_desc' | trans }}</option>
                {% endif %}
            </select>
        </span>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block contentabove %}
{% endblock %}

{% block content %}

    {% if parentDocument is defined %}
        <h2 class="viewer_heading">{{ 'Metadata'|trans }}</h2>
        <div>
            <ul>
                <li>{{ 'docstrct' | transchoice(1) }}: {{ parentDocument.docstrct | trans }}</li>
                <li>{{ 'bytitle'|trans }}: {{ parentDocument.title | first }}</li>

                {% if parentDocument.creator is defined %}
                    <li>{{ 'creator' | transchoice(parentDocument.creator | length) }}
                        {% for author in parentDocument.creator %}
                            <a href="{{ path('_homepage', {'filter': {0: {'facetcreator': author}}}) }}">{{ author }}</a>{% if loop.last %}{% else %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endif %}

                <li>{{ 'yearpublish' | transchoice(1) }}: {{ parentDocument.yearpublish }}</li>

                {% if parentDocument.placepublish is defined %}
                    <li>{{ 'placepublish' | transchoice(parentDocument.placepublish | length) }}: {{ parentDocument.placepublish|join(', ') }}</li>
                {% endif %}

                {% if parentDocument.publisher is defined %}
                    <li>{{ 'publisher' | transchoice(parentDocument.publisher | length) }}: {{ parentDocument.publisher|join(', ') }}</li>
                {% endif %}

                {% if parentDocument.dc is defined %}
                    <li>{{ 'dc' | transchoice(parentDocument.dc | length) }}:
                    {% for dc in parentDocument.dc %}
                        <a href="{{ path('_collection', {id: dc}) }}">{{ dc | trans }}</a>{% if loop.last %}{% else %}, {% endif %}
                    {% endfor %}
                    </li>
                {% endif %}

                <li>DFG-Viewer<br><a class="dfgviewer-link" href="http://dfg-viewer.de/show/?set[mets]={{ url('_mets', {id: parentDocument.id}) }}" target="_blank"><img class="metadata_dfg-viewer" src="{{ asset("images/dfg-viewer.gif") }}" alt="DFG-Viewer {{ parentDocument.title | first }}"></a></li>
                <li>Mets<br><a href="{{ url('_mets', {id: parentDocument.id}) }}" target="_blank">{{ url('_mets', {id: parentDocument.id}) }}</a></li>
                <li>{{ 'PURL'|trans }}<br><a href="{{ parentDocument.purl }}" target="_blank">{{ parentDocument.purl }}</a> </li>
                <li>{{ 'Catalogue'|trans }}<br><a href="http://opac.sub.uni-goettingen.de/DB=1/PPN?PPN={{ parentDocument.id_PPNanalog_s.0 | replace({'PPN': ''}) }}" target="_blank">http://opac.sub.uni-goettingen.de/DB=1/PPN?PPN={{ parentDocument.id_PPNanalog_s.0 | replace({'PPN': ''}) }}</a></li>
            </ul>
        </div>
    {% endif %}

    <ol class="result_list" start="{{ search.offset + 1 }}">
        {% for result in pagination %}
            <li class="result_item">
                <article class="result_wrap">
                    <div class="result_left">
                        {% if result.fields.presentation_url is defined %}
                            {% if result.fields.isanchor %}
                                <a class="result_link -image" href="{{ path('_volumes', {'id': result.fields.id}) }}">
                                    <img class="result_thumbnail" src="{{ path('_image', {'format': 'jpg', 'identifier': (result.fields.presentation_url.0 | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})), 'region': 'full', 'size': '100,165', 'rotation': 0, 'quality': 'default'}) }}" alt="">
                                </a>
                            {% else %}
                                <a class="result_link -image" href="{{ path('_detail', {'id': result.fields.id}) }}">
                                    <img class="result_thumbnail" src="{{ path('_image', {'format': 'jpg', 'identifier': (result.fields.presentation_url.0 | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})), 'region': 'full', 'size': '100,165', 'rotation': 0, 'quality': 'default'}) }}" alt="">
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="result_metadata">
                        <h2 class="result_title">
                            {% if result.fields.isanchor %}
                                <a class="result_link" title="{{ result.fields.title | first }}" href="{{ path('_volumes', {'id': result.fields.id}) }}">{{ result.fields.title | first }}</a>
                            {% else %}
                                <a class="result_link" title="{{ result.fields.title | first }}" href="{{ path('_detail', {'id': result.fields.id}) }}">{{ result.fields.title | first }}</a>
                            {% endif %}
                            <button class="result_title-toggle -expand">
                                {{ 'Show full title'|trans }}
                            </button>
                            <button class="result_title-toggle -collapse">
                                {{ 'Collapse title'|trans }}
                            </button>
                        </h2>
                        <dl class="result_info">
                            {% if result.fields.creator is defined %}
                                <dt>{{ 'creator' | transchoice(result.fields.creator | length) }}:</dt>
                                <dd>
                                    {% for author in result.fields.creator %}
                                        {{ author }}{% if not loop.last %}; {% endif %}
                                    {% endfor %}
                                </dd>
                            {% endif %}
                            {% if result.fields.yearpublish is defined %}
                                <dt>{{ 'Published' | trans }}:</dt>
                                <dd>
                                    {{ result.fields.yearpublish }}
                                    <span class="result_import-date">
                                        {{ '(imported: %date%)'|trans({'%date%': result.fields.datemodified|date('Y-m-d')}) }}
                                    </span>
                                </dd>
                            {% endif %}
                        </dl>
                        <p>
                            {{ result.fields.docstrct | trans }}
                            {% if result.fields.docstrct == "volume" %}
                                — {{ 'currentno'|trans }} {{ result.fields.currentno }}
                            {% endif %}
                        </p>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    {% include '@SubugoeFind/Default/partials/facets.html.twig' %}
{% endblock %}

{% block footer %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}
