{% extends 'base.html.twig' %}

{% block title %}{{ query }} - Göttinger Digitalisierungszentrum{% endblock %}

{% block findnavigation %}
    <div class="resultCount">{{ pagination.getTotalItemCount | number_format(0, ',', '.') }} {% trans %}numfound{% endtrans %}</div>
   {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block body %}

    <ol class="resultList" start="{{ offset + 1 }}">
        {% for result in pagination %}
            <li>
                <article>
                    <h1><a href="{{ path('subugoe_find_detail', {'id': result.fields.id}) }}">{{ result.fields.bytitle }}</a></h1>
                    <p>{% if result.fields.creator is defined %}
                            {% trans %}creator{% endtrans %}:
                                {% for author in result.fields.creator %}
                                  {{ author }}{% if loop.last %}{% else %}, {% endif %}
                                {% endfor %}
                            <br>
                            {% endif %}

                        {{ result.fields.docstrct | trans }}
                    </p>

                    {% if result.fields.thumbs_url is defined %}
                        <img src="{{ result.fields.thumbs_url.0 }}" alt="">
                    {% endif %}
                </article>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block sidebar %}
    {% for key, facet in facets %}
        <article class="facet">
            <h1>{{ key | trans }}</h1>

            <ol class="facetList">
                {% for value, count in facet if count > 0 %}
                    {% set facet_name = ['facet', key]|join('-') %}
                    <li>
                        <a href="{{ path('subugoe_find_homepage', {
                            'filter': queryParams|merge({
                                (facetCounter):  {
                                    (key) : (value)
                                }
                            }),
                        'q': (app.request.get('q'))
                        }) }}">{{ value | trans }} <span class="facetCount">{{ count | number_format(0, ',', '.') }}</span></a>
                    </li>
                {% endfor %}
            </ol>
        </article>
    {% endfor %}
{% endblock %}
