{% extends "content.html.twig" %}

{% block body %}
    <ul class="collections">
        {% for collection in collections %}
            {% set image =  '/images/collections/' ~collection.image %}
            {% set locked = collection.id not in products %}
            <li class="collections_item">
                <a class="collections_link" href="{{ path('_collection', {id: collection.id}) }}">
                    <img class="collections_image {{ locked ? '-locked' }}" src="{{ image|imagine_filter('collections') }}" alt="">
                    <span class="collections_name"> {{ collection.id|trans|raw }}</span>
                </a>
                {% if locked %}
                    <div class="collections_lock" title="{{ 'This document requires proper authentication'|trans }}">
                        <i class="icon">lock</i>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
