{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="pagination">
        <ol class="pagination_list">
            {% if first is defined %}
                <li class="pagination_item">
                    {% if current != first %}
                        <a class="pagination_link -first" href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                            <span class="sr-only">{{ 'Go to first page'|trans }}</span>
                        </a>
                    {% else %}
                        <span class="pagination_link -first -disabled"></span>
                    {% endif %}
                </li>
            {% endif %}

            <li class="pagination_item">
                {% if previous is defined %}
                    <a class="pagination_link -previous" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                        <span class="sr-only">{{ 'Go to previous page'|trans }}</span>
                    </a>
                {% else %}
                    <span class="pagination_link -previous -disabled"></span>
                {% endif %}
            </li>

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="pagination_item">
                        <a class="pagination_link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">
                            <span class="sr-only">{{ 'Go to page'|trans }}</span>
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="pagination_item -current">
                        <span class="pagination_link -current">
                            <span class="sr-only">{{ 'Current page:'|trans }}</span>
                            {{ page }}
                        </span>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="pagination_item">
                {% if next is defined %}
                    <a class="pagination_link -next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                        <span class="sr-only">{{ 'Go to next page'|trans }}</span>
                    </a>
                {% else %}
                    <span class="pagination_link -next -disabled"></span>
                {% endif %}
            </li>

            {% if last is defined %}
                <li class="pagination_item">
                    {% if current != last %}
                        <a class="pagination_link -last" href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                            <span class="sr-only">{{ 'Go to last page'|trans }}</span>
                        </a>
                    {% else %}
                        <span class="pagination_link -last -disabled"></span>
                    {% endif %}
                </li>
            {% endif %}
        </ol>
    </div>
{% endif %}
