{# TODO: Highlight current section (requires knowledge of current page) #}

{% tree item in structure %}
    {% set page_start = item.physicalPages|first %}
    {% set page_start = (page_start is defined and page_start is not null ? page_start|split('_').1|abs : '') %}
    {% set page_end = item.physicalPages|last %}
    {% set page_end = (page_end is defined and page_end is not null ? page_end|split('_').1|abs : '') %}
    {% set chapter_start = pageMappings[page_start] %}

    {% if treeloop.first %}<ul class="toc_list">{% endif %}
        <li class="toc_item">
            <span class="toc_row">
                <a class="toc_link" href="{{ path('_detail', {'id': id ~ '|' ~ item.id}) ~ '?page=' ~ page_start }}">
                    <span class="toc_chapter">
                        {{ item.label is null ? item.type|lower|trans : item.label }}
                    </span>
                    <span class="toc_page-number" data-page="{{ page_start }}">
                        {% if chapter_start is not empty %}{{ chapter_start }}{% else %}&mdash;{% endif %}
                    </span>
                </a>
                <span class="toc_aside">
                    <button class="toc_pdf" title="{{ 'Download this section as PDF'|trans }}" data-start="{{ page_start }}" data-end="{{ page_end }}">
                        <i class="icon">file_download</i>
                        <span class="sr-only">{{ 'Download this section as PDF'|trans }}</span>
                    </button>
                </span>
            </span>
            {% subtree item.children %}
        </li>
    {% if treeloop.last %}</ul>{% endif %}
{% endtree %}
