<section class="export">
    <h2 class="viewer_heading">{{ 'Export'|trans }}</h2>

    <div id="pdf-options">
        <h3>{{ 'Download as PDF'|trans }}</h3>

        {# TODO: Quality selection is not working yet #}
        {#<div class="export_step">
            <h4>{{ 'Choose quality'|trans }}</h4>

            <input type="radio" checked="checked" name="pdf-resolution" value="1000px" id="pdf-resolution-1">
            <label for="pdf-resolution-1">{{ 'pdf_first_step_option1'|trans }}</label>

            <input type="radio" name="pdf-resolution" value="original" id="pdf-resolution-2">
            <label for="pdf-resolution-2">{{ 'pdf_first_step_option2'|trans }}</label>

            <input type="radio" name="pdf-resolution" value="choose-free" id="pdf-resolution-3">
            <label for="pdf-resolution-3">{{ 'pdf_first_step_option3'|trans }}</label>

            <input type="number" class="export_input -indent" min="1" name="pdf-resolution-free" id="pdf-resolution-input">
            <label for="pdf-resolution-input">Pixel</label>
        </div>#}

        <div class="export_step">
            <h4>{{ 'Page range'|trans }}</h4>

            <input type="number" class="export_input -narrow -page-start" min="1" max={{ documentStructure.pageCount }} id="physIDstart" value="1">
            {{ 'pdf_until'|trans }}
            <input type="number" class="export_input -narrow -page-end" min="1" max={{ documentStructure.pageCount }} id="physIDend" value={{ documentStructure.pageCount }}>
            {{ 'pdf_from'|trans }} <span class="export_page-count">{{ documentStructure.pageCount }}</span>
        </div>

        <div class="export_error -page-range">
            {{ 'Invalid page range'|trans }}
        </div>

        <button class="export_generate-pdf" data-ppn="{{ document.id }}">{{ 'Generate PDF'|trans }}</button>
    </div>

    <div id="pdf-progress">
        <div class="export_alert"></div>

        <h3>{{ 'pdf_preparing'|trans }}</h3>
        <div class="export_progress-wrap">
            <div class="export_progress">0%</div>
        </div>

        <p>{{ 'pdf_progress_hint'|trans }}</p>

        <button class="export_cancel">{{ 'Cancel'|trans }}</button>

        <button class="export_reset">{{ 'Go back'|trans }}</button>
    </div>

    <div class="pdf_metadata">
        <div id="pdf_title">{{ document.title | first }}</div>
        <div id="pdf_author">
            {% if document.creator is defined %}
                {% for author in document.creator %}
                    {{ author }}{% if not loop.last %}; {% endif %}
                {% endfor %}
            {% else %}
                {{ '[unbekannt]'|trans }}
            {% endif %}
        </div>
        <div id="pdf_year-publish">
            {% if document['year_publish'] is defined %}
                {{ document['year_publish'] }}
            {% else %}
                {{ '[unbekannt]'|trans }}
            {% endif %}
        </div>
        <div id="pdf_license">{% trans %}disclaimer{% endtrans %}</div>
    </div>
</section>
