<section class="export">
    <h2 class="viewer_heading">{{ 'Export'|trans }}</h2>

    {% if pdfSize > 0 %}
        <div id="pdf-options">
            <h3>{{ 'Download as PDF'|trans }}</h3>

            <div class="export_error -page-range">
                {{ 'Invalid page range'|trans }}
            </div>
            {% set download_path =  document.product ~ ':' ~ document.work %}
            <a href="{{ path('_download_pdf', {id: download_path}) }}">
                <button class="export_generate-pdf">
                    <i class="icon">file_download</i>
                    {{ 'Generate PDF'|trans }}
                </button>
            </a> ({{ (pdfSize / 1024 / 1024 )|round(2) }} MB)
        </div>
    {% endif %}

    <ul class="metadata_links">
        <li>
            <a href="{{ url('_mets', {id: document.id}) }}" download>
                <i class="icon">code</i>
                {{ 'Download METS file'|trans }}
            </a>
        </li>
    </ul>
</section>
