<section class="export">
    <h2 class="viewer_heading">{{ 'Export'|trans }}</h2>

    {% if pdfSize > 0 %}
        {% set download_path =  document.product ~ ':' ~ document.work %}
        {% set href = path('_download_pdf', {id: download_path}) %}
        <p>
            <a href="{{ href }}"><i class="icon">file_download</i> {{ 'Download as PDF'|trans }}</a>
            ({{ (pdfSize / 1024 / 1024 )|round(2) }}&nbsp;MB)
        </p>
    {% else %}
        <p>{{ 'PDF not yet available'|trans }}</p>
    {% endif %}

    <ul class="metadata_links">
        <li>
            <a href="{{ url('_mets', {id: document.id}) }}" download>
                <i class="icon">code</i>
                {{ 'Download metadata as METS file'|trans }}
            </a>
        </li>
    </ul>
</section>
