{% set route = app.request.attributes.get('_route') %}
{% set id = app.request.get('id') %}

<div class="facets_header">
    <button class="facets_toggle -show">{{ 'Show filters'|trans }}</button>
    <button class="facets_toggle -hide hidden">{{ 'Hide filters'|trans }}</button>
</div>
<div class="facets_body">
    {% if fullAccess is empty %}
        {# TODO: Only show access toggle if not all documents are accessible #}
        <div class="facets_above">
            {% if user.institution and route != '_collection' and access is null %}
                {% set href = path(route, app.request.query.all|merge({access: 1})) %}
                <a class="facets_access-toggle" href="{{ href }}">
                    {{ 'Show only accessible'|trans }}
                </a>
            {% elseif user.institution and route != '_collection' %}
                {% set href = path(route, app.request.query.all|merge({access: null})) %}
                <a class="facets_access-toggle" href="{{ href }}">
                    {{ 'Show all accessible'|trans }}
                </a>
            {% endif %}
        </div>
    {% endif %}

    {% if queryParams %}
        {% set href = path(route, app.request.query.all|merge({filter: null, id: id})) %}
        <a class="facets_remove" href="{{ href }}">
            {{ 'Remove all filters'|trans }}
        </a>
    {% endif %}

    {% for key, facet in facets if facet|length > 0 %}
        {% set filterValues = [] %}
        {% for index, filter in queryParams %}
            {% if filter[key] is defined %}
                {% set filterValues = filterValues|merge([filter[key]]) %}
            {% endif %}
        {% endfor %}

        <article class="facet">
            <h2>{{ key|transchoice(facet|length) }}</h2>
            <button class="facet_list-toggle -expand">
                <i class="icon">expand_more</i>
                {{ 'Show all'|trans }}
            </button>
            <button class="facet_list-toggle -collapse">
                <i class="icon">expand_less</i>
                {{ 'Show less'|trans }}
            </button>
            <ol class="facet_list">
                {# Year range (only used with yearpublish #}
                {# TODO: Add count #}
                {# TODO: Reduce reduncancy #}
                {% if key == 'year_publish' %}
                    {% for index, value in filterValues %}
                        {% set tokens = filterValues[index]|slice(1, filterValues[index]|length - 2)|split(' ') %}
                        {% if tokens|length == 3 %}
                            <li class="facet_item">
                                {% set queryParamsSliced = queryParams %}
                                {% for index2, filter in queryParams %}
                                    {% if filter[key] is defined and filter[key] == filterValues[index] %}
                                        {% set queryParamsSliced = queryParamsSliced|slice(0, index2)|merge(queryParamsSliced|slice(index2 + 1)) %}
                                    {% endif %}
                                {% endfor %}
                                {% set href = path(route, app.request.query.all|merge({'filter': queryParamsSliced, 'id': id})) %}
                                <a class="facet_link -remove" href="{{ href }}" title="{{ 'Remove filter: publishing year range'|trans }}">
                                    <i class="icon">remove</i>
                                    {{ tokens.0 }}&ndash;{{ tokens.2 }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% for value, count in facet if count > 0 %}
                    <li class="facet_item">
                        {% set queryParamsSliced = queryParams %}
                        {% for index, filter in queryParams %}
                            {% if filter[key] is defined and filter[key] == value %}
                                {% set queryParamsSliced = queryParamsSliced|slice(0, index)|merge(queryParamsSliced|slice(index + 1)) %}
                            {% endif %}
                        {% endfor %}

                        {% if value in filterValues %}
                            {% set href = path(route, app.request.query.all|merge({'filter': queryParamsSliced, 'id': id})) %}
                            {% set title = 'Remove filter %name% is &ldquo;%value%&rdquo;'|trans({'%name%': key|transchoice(1), '%value%': value|trans})|raw %}
                            <a class="facet_link -remove" href="{{ href }}" title="{{ title }}">
                                <i class="icon">remove</i>
                                {{ value|trans }}&nbsp;<span class="facet_count">{{ count|number_format(0, ',', '.') }}</span>
                            </a>
                        {% else %}
                            {% set href = path(route, app.request.query.all|merge({'filter': queryParams|merge({(facetCounter): {(key): (value)}}), 'id': id})) %}
                            {% set title = 'Add filter %name% is &ldquo;%value%&rdquo;'|trans({'%name%': key|transchoice(1), '%value%': value|trans})|raw %}
                            <a class="facet_link" href="{{ href }}" title="{{ title }}">
                                {{ value|trans }}&nbsp;<span class="facet_count">{{ count|number_format(0, ',', '.') }}</span>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            {% if key == 'year_publish' %}
                {# TODO: Show counts for years outside of filter range #}
                {# WORKAROUND: Removing erroneous year. Introducing Y2100 bug, yay! #}
                <div
                    class="facet_histogram"
                    data-years='[{% for year, count in facet %}{% if year < 2100 %}{{ loop.first ? '' : ',' }}[{{ year }},{{ count }}]{% endif %}{% endfor %}]'
                >
                </div>
            {% endif %}
        </article>
    {% endfor %}
</div>
