<header class="viewer_header">
    <div class="viewer_column">
        <h1 class="viewer_title" title="{{ document.title|first }}">
            {{ document.title|first }}
        </h1>
    </div>
    <div class="viewer_column">
        <button class="viewer_control -change-view">
            <i class="icon">visibility</i>
            {{ 'View'|trans }}
        </button>
        <div class="viewer_controls -right">
            <div class="viewer_control-group">
                <button class="viewer_control -toggle-panel -scan" data-target="scan">
                    <i class="icon">photo</i>
                    {{ 'Scan'|trans }}
                </button>
                {% if document.fulltext_url is defined %}
                    <button class="viewer_control -toggle-panel" data-target="transcript">
                        <i class="icon">subject</i>
                        {{ 'Fulltext'|trans }}
                    </button>
                {% endif %}
                <button class="viewer_control -toggle-panel" data-target="thumbnails">
                    <i class="icon">view_module</i>
                    {{ 'Pages'|trans }}
                </button>
                {% if documentStructure.tableOfContents %}
                    <button class="viewer_control -toggle-panel" data-target="toc">
                        <i class="icon">toc</i>
                        {{ 'Contents'|trans }}
                    </button>
                {% endif %}
                <button class="viewer_control -toggle-panel " data-target="metadata">
                    <i class="icon">info_outline</i>
                    {{ 'Metadata'|trans }}
                </button>
                <button class="viewer_control -toggle-panel" data-target="export" title="{{ 'Export'|trans }}">
                    <i class="icon">file_download</i>
                    {{ 'Export'|trans }}
                </button>
            </div>
        </div>
    </div>
</header>
