<section class="metadata">
    <h2 class="viewer_heading">{{ 'Metadata'|trans }}</h2>

    <dl class="metadata_list">
        <dt>{{ 'bytitle'|trans }}</dt>
        <dd>{{ document.title|first }}</dd>

        {% if document.creator is defined %}
            <dt>{{ 'creator'|transchoice(document.creator|length) }}</dt>
            <dd>
                {% for author in document.creator %}
                    <a href="{{ path('_search', {'filter': {0: {'facet_creator': author}}}) }}">{{ author }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document['year_publish'] is defined %}
            <dt>{{ 'year_publish' | transchoice(1) }}</dt>
            <dd>{{ document['year_publish'] }}</dd>
        {% endif %}

        {% if document['place_publish'] is defined %}
            <dt>{{ 'placepublish'|transchoice(document['place_publish']|length) }}</dt>
            <dd>
                {% for place in document['place_publish'] %}
                    {{ place }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.publisher is defined %}
            <dt>{{ 'publisher'|transchoice(document.publisher|length) }}</dt>
            <dd>
                {% for publisher in document.publisher %}
                    {{ publisher }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.lang is defined %}
            <dt>{{ 'lang'|transchoice(document.lang|length) }}</dt>
            <dd>
                {% for lang in document.lang %}
                    <a href="{{ path('_search', {'filter': {0: {'lang': lang}}}) }}">{{ lang|trans }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.genre is defined %}
            <dt>{{ 'genre'|transchoice(document.genre|length) }}</dt>
            <dd>
                {% for genre in document.genre %}
                    <a href="{{ path('_search', {'filter': {0: {'genre': genre}}}) }}">{{ genre|trans }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}



        {% if document.docstrct == "volume" and document.currentno is defined %}
            <dt>{{ 'currentno'|trans }}</dt>
            <dd>{{ document.currentno }}</dd>
            {% if document.idparentdoc is defined %}
                <dt>{{ 'Contained in'|trans }}</dt>
                <dd><a href="{{ path('_volumes', {id: document.idparentdoc.0}) }}">{{ parentDocumentTitle }}</a></dd>
            {% endif %}
        {% endif %}

        <dt>{{ 'facet_product' | transchoice(document.facet_product | length) }}</dt>
        <dd>
            {% for dc in document.facet_product %}
                <a href="{{ path('_collection', {id: dc}) }}">{{ dc | trans }}</a>{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}
        </dd>
        <dd>&nbsp; &ndash; <a href="{{ collectionInformation[0].disclaimer_link }}">{{ 'License'|trans }}</a></dd>
    </dl>
</section>
