<section class="viewer_metadata">
    <h2 class="viewer_heading">{{ 'Metadata'|trans }}</h2>

    <dl>
        <dt>{{ 'bytitle'|trans }}</dt>
        <dd>{{ document.title | first }}</dd>

        {% if document.creator is defined %}
            <dt>{{ 'creator' | transchoice(document.creator | length) }}</dt>
            <dd>
                {% for author in document.creator %}
                    <a href="{{ path('_homepage', {'filter': {0: {'facetcreator': author}}}) }}">{{ author }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.yearpublish is defined %}
            <dt>{{ 'yearpublish' | transchoice(1) }}</dt>
            <dd>{{ document.yearpublish }}</dd>
        {% endif %}

        {% if document.placepublish is defined %}
            <dt>{{ 'placepublish' | transchoice(document.placepublish | length) }}</dt>
            <dd>
                {% for place in document.placepublish %}
                    {{ place }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.publisher is defined %}
            <dt>{{ 'publisher' | transchoice(document.publisher | length) }}</dt>
            <dd>
                {% for publisher in document.publisher %}
                    {{ publisher }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.docstrct == "volume" %}
            <dt>{{ 'currentno' | trans }}</dt>
            <dd>{{ document.currentno }}</dd>
        {% endif %}

        {% if document.idparentdoc %}
            <dt>{{ 'Contained in' | trans }}</dt>
            <dd><a href="{{ path('_detail', {id: document.idparentdoc.0}) }}">{{ url('_detail', {id: document.idparentdoc.0}) }}</a></dd>
        {% endif %}

        <dt>{{ 'dc' | transchoice(document.dc | length) }}</dt>
        <dd>
            {% for dc in document.dc %}
                <a href="{{ path('_collection', {id: dc}) }}">{{ dc | trans }}</a>{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}
        </dd>

        <dt>DFG-Viewer</dt>
        <dd class="dfgviewer">
            <a class="dfgviewer-link" href="http://dfg-viewer.de/show/?set[mets]={{ url('_mets', {id: document.id}) }}"><img class="dfgviewer-image" src="{{ asset("images/dfg-viewer.gif") }}" alt="DFG-Viewer {{ document.title | first }}"></a>
        </dd>

        <dt>Mets</dt>
        <dd>
            <a href="{{ url('_mets', {id: document.id}) }}">{{ url('_mets', {id: document.id}) }}</a>
        </dd>

        <dt>{{ 'PURL'|trans }}</dt>
        <dd><a href="{{ document.purl }}">{{ document.purl }}</a></dd>

        {% if document.id_PPNanalog_s is defined %}
            <dt>{{ 'Catalogue'|trans }}</dt>
            <dd>
                <a href="http://opac.sub.uni-goettingen.de/DB=1/PPN?PPN={{ document.id_PPNanalog_s.0 | replace({'PPN': ''}) }}">http://opac.sub.uni-goettingen.de/DB=1/PPN?PPN={{ document.id_PPNanalog_s.0 | replace({'PPN': ''}) }}</a>
            </dd>
        {% endif %}

        <dt>{{ 'docstrct' | transchoice(1) }}</dt>
        <dd>{{ document.docstrct | trans }}</dd>
    </dl>
</section>
