<section class="metadata">
    <h2 class="viewer_heading">{{ 'Metadata'|trans }}</h2>

    <dl>
        <dt>{{ 'bytitle'|trans }}</dt>
        <dd>{{ document.subtitle | first }}</dd>

        {% if document.creator is defined %}
            <dt>{{ 'creator' | transchoice(document.creator | length) }}</dt>
            <dd>
                {% for author in document.creator %}
                    <a href="{{ path('_homepage', {'filter': {0: {'facetcreator': author}}}) }}">{{ author }}</a>{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.yearpublish is defined %}
            <dt>{{ 'yearpublish' | transchoice(1) }}</dt>
            <dd>{{ document.yearpublish }}</dd>
        {% endif %}

        {% if document.placepublish is defined %}
            <dt>{{ 'placepublish' | transchoice(document.placepublish | length) }}</dt>
            <dd>
                {% for place in document.placepublish %}
                    {{ place }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        {% if document.publisher is defined %}
            <dt>{{ 'publisher' | transchoice(document.publisher | length) }}</dt>
            <dd>
                {% for publisher in document.publisher %}
                    {{ publisher }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </dd>
        {% endif %}

        <dt>{{ 'docstrct' | transchoice(1) }}</dt>
        <dd>{{ document.docstrct | trans }}</dd>

        {% if document.docstrct == "volume" and document.currentno is defined %}
            <dt>{{ 'currentno' | trans }}</dt>
            <dd>{{ document.currentno }}</dd>
            {% if document.idparentdoc is defined %}
                <dt>{{ 'Contained in' | trans }}</dt>
                <dd><a href="{{ path('_volumes', {id: document.idparentdoc.0}) }}">{{ parentDocumentTitle }}</a></dd>
            {% endif %}
        {% endif %}

        <dt>{{ 'parentdoc_title_abbreviated' | transchoice(document.parentdoc_title_abbreviated | length) }}</dt>
        <dd>
            {% for dc in document.parentdoc_title_abbreviated %}
                <a href="{{ path('_collection', {id: dc}) }}">{{ dc | trans }}</a>{% if loop.last %}{% else %}, {% endif %}
            {% endfor %}
        </dd>

        <ul class="metadata_links">
            {% if document.id_PPNanalog_s is defined %}
                <li><a href="http://opac.sub.uni-goettingen.de/DB=1/PPN?PPN={{ document.id_PPNanalog_s.0 | replace({'PPN': ''}) }}">{{ 'Catalogue'|trans }}</a></li>
            {% endif %}
            <li><a href="{{ url('_mets', {id: document.id}) }}">Mets</a></li>
        </ul>
    </dl>
</section>
