{# TODO: Show current page via page variable #}
<section class="scan">
    <div class="viewer_controls -overlay">
        <div class="viewer_control-group">
            {% if documentStructure.page != 1 %}
                <a
                class="viewer_control -first-page"
                title="{{ 'First page'|trans }}"
                {{ 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.firstChapter}) }}{{ '?page=' ~ documentStructure.documentFirstPage }}
                >
                <span class="sr-only">{{ 'First page'|trans }}</span>
                </a>
            {% else %}
                <button class="viewer_control -first-page -disabled"></button>
            {% endif %}
            {% if documentStructure.isThereAPreviousChapter is not empty %}
                <a
                class="viewer_control -previous-section"
                title="{{ 'Previous section'|trans }}"
                {{ 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.previousChapterId}) }}{{ not documentStructure.isThereAPreviousChapter is empty ? '?page=' ~ documentStructure.previousChapterFirstPage }}
                >
                <span class="sr-only">{{ 'Previous section'|trans }}</span>
                </a>
            {% else %}
                <button class="viewer_control -previous-section -disabled"></button>
            {% endif %}
            {% if documentStructure.page != 1 %}
                <a
                class="viewer_control -previous-page"
                title="{{ 'Previous page'|trans }}"
                {{ 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.previousPageChapterId}) }}{{ documentStructure.page != 1 ? '?page=' ~ (documentStructure.page - 1) }}
                >
                <span class="sr-only">{{ 'Previous page'|trans }}</span>
                </a>
            {% else %}
                <button class="viewer_control -previous-page -disabled"></button>
            {% endif %}
            <label class="sr-only" for="viewer-page-select">{{ 'Current page'|trans }}</label>
            <select class="viewer_control -page-select" name="page" id="viewer-page-select">
                {% for physPage, logPage in pageMappings %}
                    <option value={{ physPage }} {{ physPage == documentStructure.page ? 'selected' }}>
                        {{ physPage }} : {{ logPage|trans }}
                    </option>
                {% endfor %}
            </select>
            {% if documentStructure.page != documentStructure.pageCount %}
                <a
                class="viewer_control -next-page"
                title="{{ 'Next page'|trans }}"
                {{ 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.nextPageChapterId}) }}{{ '?page=' ~ (documentStructure.page + 1) }}
                >
                <span class="sr-only">{{ 'Next page'|trans }}</span>
                </a>
            {% else %}
                <button class="viewer_control -next-page -disabled"></button>
            {% endif %}
            {% if documentStructure.isThereANextChapter is not empty %}
                <a
                class="viewer_control -next-section"
                title="{{ 'Next section'|trans }}"
                {{ 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.nextChapterId}) }}{{ not documentStructure.isThereANextChapter is empty ? '?page=' ~ documentStructure.nextChapterFirstPage }}
                >
                <span class="sr-only">{{ 'Next section'|trans }}</span>
                </a>
            {% else %}
                <button class="viewer_control -next-section -disabled"></button>
            {% endif %}
            {% if documentStructure.page != documentStructure.documentLastPage %}
                <a
                class="viewer_control -last-page"
                title="{{ 'Last page'|trans }}"
                {{ 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.lastChapter}) }}{{ '?page=' ~ documentStructure.documentLastPage }}
                >
                <span class="sr-only">{{ 'Last page'|trans }}</span>
                </a>
            {% else %}
                <button class="viewer_control -last-page -disabled"></button>
            {% endif %}

        </div>

        <div class="viewer_control-group">
            <button class="viewer_control -zoom-out" title="{{ 'Zoom out'|trans }}"><span class="sr-only">{{ 'Zoom out'|trans }}</span></button>
            <label class="sr-only" for="viewer-zoom-range">{{ 'Set zoom'|trans }}</label>
            <button class="viewer_control -zoom-in" title="{{ 'Zoom in'|trans }}"></i><span class="sr-only">{{ 'Zoom in'|trans }}</span></button>
        </div>
    </div>

    {% if documentStructure.isValidPage %}
        <div
            class="scan_image"
            id="scan_image"
            data-iiif="{{ path('_iiifjson', {'identifier': documentStructure.identifier}) }}"
        ></div>
        <div class="scan_spinner">
            <span class="sr-only">{{ 'Loading'|trans }}</span>
        </div>
    {% else %}
        <div class="scan_error">
            {{ 'Invalid page'|trans }}
        </div>
    {% endif %}
</section>
