{# TODO: Show current page via page variable #}

<section class="viewer_scan">
    <div class="viewer_controls -overlay">
        <div class="viewer_group">
            <select class="viewer_control js-page-view">
                <option value="single" {{ not showDoublePage ? 'selected' }}>{% trans %}Single page{% endtrans %}</option>
                <option value="double" {{ showDoublePage ? 'selected' }}>{% trans %}Double page{% endtrans %}</option>
            </select>
        </div>
        <div class="viewer_group">
            <button class="viewer_control -first-page" title="Erste Seite"><span class="sr-only">{% trans %}First page{% endtrans %}</span></button>
            <button class="viewer_control -previous-section" title="Voriger Abschnitt"><span class="sr-only">{% trans %}Previous section{% endtrans %}</span></button>
            <button class="viewer_control -previous-page js-previous-page" title="Vorige Seite" {{ page == 1 ? 'disabled' }}><span class="sr-only">{% trans %}Previous page{% endtrans %}</span></button>

            {% if showDoublePage %}
                <label class="sr-only double-page" for="viewer-page-select-2">{% trans %}Current pages{% endtrans %}</label>
                <select class="viewer_control double-page js-select-page" name="page" id="viewer-page-select-2">
                    <option {{ page == 1 ? 'selected' }}>1</option>
                    {% for image in images.0 %}
                        {% if loop.index > 1 and loop.index % 2 == 1 %}
                            <option {{ page == loop.index - 1 or page == loop.index ? 'selected' }} value="{{ loop.index }}">{{ loop.index - 1 }} | {{ loop.index }}</option>
                        {% endif %}
                    {% endfor %}
                    {% if pageCount % 2 == 0 %}
                        <option {{ page == pageCount ? 'selected' }}>{{ pageCount }}</option>
                    {% endif %}
                </select>
            {% else %}
                <label class="sr-only single-page" for="viewer-page-select">{% trans %}Current page{% endtrans %}</label>
                <select class="viewer_control single-page js-select-page" name="page" id="viewer-page-select">
                    {% for image in images.0 %}
                        <option {{ loop.index == page ? 'selected' }}>{{ loop.index }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <button class="viewer_control -next-page js-next-page" title="Nächste Seite" {{ page == pageCount ? 'disabled' }}><span class="sr-only">{% trans %}Next page{% endtrans %}</span></button>
            <button class="viewer_control -next-section" title="Nächster Abschnitt"><span class="sr-only">{% trans %}Next section{% endtrans %}</span></button>
            <button class="viewer_control -last-page" title="Letzte Seite"><span class="sr-only">{% trans %}Last page{% endtrans %}</span></button>
        </div>
        <div class="viewer_group">
            <button class="viewer_control -zoom-out js-zoom-out" title="Verkleinern"><span class="sr-only">{% trans %}Zoom out{% endtrans %}</span></button>
            <label class="sr-only" for="viewer-zoom-reset">{% trans %}Set zoom{% endtrans %}</label>
            <input type="range" class="viewer_control js-zoom-range" id="viewer-zoom-reset">
            <button class="viewer_control -zoom-in js-zoom-in" title="Vergrößern"></i><span class="sr-only">{% trans %}Zoom in{% endtrans %}</span></button>
            <button class="viewer_control -zoom-reset js-zoom-reset" title="Zoom zurücksetzen"><span class="sr-only">{% trans %}Reset zoom{% endtrans %}</span></button>
        </div>
        <div class="viewer_group">
            <input class="viewer_control" type="text" placeholder="{% trans %}Search in document{% endtrans %}" title="{% trans %}Search in document{% endtrans %}">
            <button class="viewer_control -search"><span class="sr-only">{% trans %}Search{% endtrans %}</span></button>
        </div>
    </div>
    <div class="viewer_image {{ showDoublePage ? '-double' }}" id="viewer_scan">
        {% if secondPage %}
            <img src="{{ images.1[page - 2] }}" alt="">
        {% endif %}
        <img src="{{ images.1[page - 1] }}" alt="">
    </div>
</section>
