{# TODO: Show current page via page variable #}
<section class="viewer_scan">
    <div class="viewer_controls -overlay">
        <div class="viewer_group">
            <select class="viewer_control js-page-view">
                <option value="single" {{ not showDoublePage ? 'selected' }}>{% trans %}Single page{% endtrans %}</option>
                <option value="double" {{ showDoublePage ? 'selected' }}>{% trans %}Double page{% endtrans %}</option>
            </select>
        </div>
        <div class="viewer_group">
            <button
                class="viewer_control -first-page"
                title="{% trans %}First page{% endtrans %}"
                disabled
            >
                <span class="sr-only">{% trans %}First page{% endtrans %}</span>
            </button>
            <a
                class="viewer_control -previous-section {{ not document.idparentdoc is defined ? '-disabled' }}"
                title="{% trans %}Previous section{% endtrans %}"
                {{ document.idparentdoc is defined ? 'href=' ~ path('_detail', {id: document.idparentdoc | first}) }}
            >
                <span class="sr-only">{% trans %}Previous section{% endtrans %}</span>
            </a>
            <button
                class="viewer_control -previous-page js-previous-page"
                title="{% trans %}Previous page{% endtrans %}" {{ page == 1 ? 'disabled' }}
            >
                <span class="sr-only">{% trans %}Previous page{% endtrans %}</span>
            </button>

            {% if showDoublePage %}
                <label class="sr-only double-page" for="viewer-page-select-2">{% trans %}Current pages{% endtrans %}</label>
                <select class="viewer_control -page-select double-page js-select-page" name="page" id="viewer-page-select-2">
                    <option {{ page == 1 ? 'selected' }}>1</option>
                    {% for image in document.presentation_url %}
                        {% if loop.index > 1 and loop.index % 2 == 1 %}
                            <option {{ page == loop.index - 1 or page == loop.index ? 'selected' }} value="{{ loop.index }}">{{ loop.index - 1 }} | {{ loop.index }}</option>
                        {% endif %}
                    {% endfor %}
                    {% if pageCount % 2 == 0 %}
                        <option {{ page == pageCount ? 'selected' }}>{{ pageCount }}</option>
                    {% endif %}
                </select>
            {% else %}
                <label class="sr-only single-page" for="viewer-page-select">{% trans %}Current page{% endtrans %}</label>
                <select class="viewer_control page-select single-page js-select-page" name="page" id="viewer-page-select">
                    {% for image in document.presentation_url %}
                        <option {{ loop.index == page ? 'selected' }}>{{ loop.index }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <button
                class="viewer_control -next-page js-next-page"
                title="{% trans %}Next page{% endtrans %}" {{ page == pageCount ? 'disabled' }}
            >
                <span class="sr-only">{% trans %}Next page{% endtrans %}</span>
            </button>
            <button
                class="viewer_control -next-section"
                title="{% trans %}Next section{% endtrans %}"
                disabled
            >
                <span class="sr-only">{% trans %}Next section{% endtrans %}</span>
            </button>
            <button
                class="viewer_control -last-page"
                title="{% trans %}Last page{% endtrans %}"
                disabled
            >
                <span class="sr-only">{% trans %}Last page{% endtrans %}</span>
            </button>
        </div>
        <div class="viewer_group">
            <button class="viewer_control -zoom-out js-zoom-out" title="{% trans %}Zoom out{% endtrans %}"><span class="sr-only">{% trans %}Zoom out{% endtrans %}</span></button>
            <label class="sr-only" for="viewer-zoom-range">{% trans %}Set zoom{% endtrans %}</label>
            <input type="range" class="viewer_control js-zoom-range" id="viewer-zoom-range">
            <button class="viewer_control -zoom-in js-zoom-in" title="{% trans %}Zoom in{% endtrans %}"></i><span class="sr-only">{% trans %}Zoom in{% endtrans %}</span></button>
            <button class="viewer_control -zoom-reset js-zoom-reset" title="{% trans %}Reset zoom{% endtrans %}"><span class="sr-only">{% trans %}Reset zoom{% endtrans %}</span></button>
        </div>
        {% if document.gdzocr_url is defined %}
            <div class="viewer_group">
                <input class="viewer_control" type="text" placeholder="{% trans %}Search in document{% endtrans %}" title="{% trans %}Search in document{% endtrans %}">
                <button class="viewer_control -search"><span class="sr-only">{% trans %}Search{% endtrans %}</span></button>
            </div>
        {% endif %}
    </div>
    <div
        class="viewer_image {{ showDoublePage ? '-double' }}"
        id="viewer_image"
        data-iiif="{{ path('_iiifjson', {'identifier': (document.presentation_url[page - 1] | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'}))}) }}"
        {% if secondPage %}
            data-iiif-second-page="{{ path('_iiifjson', {'identifier': (document.presentation_url[page - 2] | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'}))}) }}"
        {% endif %}
    ></div>
</section>
