{# TODO: Show current page via page variable #}
<section class="viewer_scan">
    <div class="viewer_controls -overlay">
        <div class="viewer_control-group">
            <a
               class="viewer_control -first-page{{ documentStructure.page == 1 ? ' -disabled' }}"
               title="{{ 'First page'|trans }}"
               {{ documentStructure.page != 1 ? 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.firstChapter}) }}{{ '?page=' ~ documentStructure.documentFirstPage }}
           >
               <span class="sr-only">{{ 'First page'|trans }}</span>
           </a>
            <a
                class="viewer_control -previous-section{{ documentStructure.isThereAPreviousChapter is empty ? ' -disabled' }}"
                title="{{ 'Previous section'|trans }}"
                {{ not documentStructure.isThereAPreviousChapter is empty ? 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.previousChapterId}) }}{{ not documentStructure.isThereAPreviousChapter is empty ? '?page=' ~ documentStructure.previousChapterFirstPage }}
            >
                <span class="sr-only">{{ 'Previous section'|trans }}</span>
            </a>
            <a
                class="viewer_control -previous-page js-previous-page -disabled"
                title="{{ 'Previous page'|trans }}" {{ documentStructure.page == 1 ? 'disabled' }}
            >
                <span class="sr-only">{{ 'Previous page'|trans }}</span>
            </a>

            <label class="sr-only" for="viewer-page-select">{{ 'Current page'|trans }}</label>
            <select class="viewer_control -page-select" name="page" id="viewer-page-select">
                {% for physPage, logPage in pageMappings %}
                    <option value={{ physPage }} {{ physPage == documentStructure.page ? 'selected' }}>
                        {{ physPage }} : {{ logPage }}
                    </option>
                {% endfor %}
            </select>
            <a
                class="viewer_control -next-page js-next-page -disabled"
                title="{{ 'Next page'|trans }}" {{ documentStructure.page == documentStructure.pageCount ? 'disabled' }}
                href="{{ path(app.request.attributes.get('_route'), {
                    'page': (documentStructure.page + 1),
                    'id': (app.request.get('id'))
                }) }}"
            >
                <span class="sr-only">{{ 'Next page'|trans }}</span>
            </a>
            <a
                class="viewer_control -next-section{{ documentStructure.isThereANextChapter is empty ? ' -disabled' }}"
                title="{{ 'Next section'|trans }}"
                {{ not documentStructure.isThereANextChapter is empty ? 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.nextChapterId}) }}{{ not documentStructure.isThereANextChapter is empty ? '?page=' ~ documentStructure.nextChapterFirstPage }}
            >
                <span class="sr-only">{{ 'Next section'|trans }}</span>
            </a>
            <a
               class="viewer_control -last-page{{ documentStructure.page == documentStructure.documentLastPage ? ' -disabled' }}"
               title="{{ 'Last page'|trans }}"
               {{ documentStructure.page != documentStructure.documentLastPage ? 'href=' ~ path('_detail', {'id': document.id ~ '|' ~ documentStructure.lastChapter}) }}{{ '?page=' ~ documentStructure.documentLastPage }}
           >
               <span class="sr-only">{{ 'Last page'|trans }}</span>
           </a>
        </div>

        <div class="viewer_control-group">
            <button class="viewer_control -zoom-out" title="{{ 'Zoom out'|trans }}"><span class="sr-only">{{ 'Zoom out'|trans }}</span></button>
            <label class="sr-only" for="viewer-zoom-range">{{ 'Set zoom'|trans }}</label>
            <button class="viewer_control -zoom-in" title="{{ 'Zoom in'|trans }}"></i><span class="sr-only">{{ 'Zoom in'|trans }}</span></button>
        </div>
    </div>

    {% if isValidPage %}
        <div
            class="viewer_image"
            id="viewer_image"
            data-iiif="{{ path('_iiifjson', {'identifier': documentStructure.identifier}) }}"
        ></div>
        <div class="viewer_spinner">
            <span class="sr-only">{{ 'Loading'|trans }}</span>
        </div>
    {% else %}
        <div class="viewer_error">
            {{ 'Invalid page'|trans }}
        </div>
    {% endif %}
</section>
