<section class="thumbnails">
    {% if document.thumbs_url is defined %}
        <ul class="thumbnails_list">
            {% for physPage, logPage in pageMappings %}
                {% set link = document.id ~ '?page=' ~ physPage %}
                {% set isCurrent = (physPage == documentStructure.page) %}
                {# TODO: Find a more elegant way to build image URL #}
                {% set identifier = (document.presentation_url[physPage - 1] | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})) %}
                <li class="thumbnails_item {{ isCurrent ? '-current' }}">
                    <a class="thumbnails_link" {{ not isCurrent ? 'href=' ~ link }}>
                        <img data-original="{{ path('_image', {'format': 'jpg', 'identifier': identifier, 'region': 'full', 'size': '92,', 'rotation': 0, 'quality': 'default'})  }}" alt="">
                        <span class="thumbnails_page-number">
                            <span class="sr-only">{% trans %}Go to page{% endtrans %}</span>
                            {{ physPage }} : {{ logPage|trans }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
