<div class="footer">
    <div class="footer_left">
        <ul>
            <li>
                <a href="{{ path('_content', {'action': 'contact'}) }}" title="{{ 'Contact'|trans }}">{{ 'Contact'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('_content', {'action': 'imprint'}) }}" title="{{ 'Imprint'|trans }}">{{ 'Imprint'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('_content', {'action': 'help'}) }}" title="{{ 'Help for search'|trans }}">{{ 'Help for search'|trans }}</a>
            </li>
        </ul>
    </div>
    <div class="footer_right">
        <ul>
            <li>
                <a href="{{ path('_feedback') }}">Feedback</a>
            </li>
        </ul>
    </div>
</div>
