{% set subset = app.request.query.get('document') | default('this') %}
{% set scope = app.request.query.get('scope') | default('metadata') %}

<header class="header" data-role="header">
    <div class="header_top">
        <button class="header_toggle-nav" title="Navigation">Menü</button>
        <div class="header_logo" role="banner">
            <a href="/">
                <span class="sr-only">{{ 'Göttingen State and University Library'|trans }} &ndash;</span>
                <span class="header_title">Göttinger Digitalisierungszentrum</span>
            </a>
        </div>
        <ul class="header_nav">
            <li class="header_nav-item">
                <a href="{{ path('_collections') }}">{{ 'Collections'|trans }}</a>
            </li>
            <li class="header_nav-item -fixed">
                <button class="header_search-toggle js-search-toggle">
                    <span class="sr-only">{{ 'Search'|trans }}</span>
                </button>
            </li>
        </ul>
        <div class="search">
            <form class="search_form -visible" method="get" role="search" action="/">
                <input size="40" placeholder="{{ 'Search'|trans }}" class="search_input" id="q" type="text" name="q" value="{{ app.request.query.get('q') }}">
                <label for="q" class="sr-only">{{ 'Search'|trans }}</label>
                <button type="submit" class="search_submit"><span class="sr-only">{{ 'Search'|trans }}</span></button>
                <div class="search_popup">
                    <div class="search_content -visible">
                        {% if document is defined %}
                            <ul class="search_list">
                                <li class="search_item">
                                    <input class="search_radio" id="search-this" name="document" type="radio" value="this" {{ subset == 'this' ? 'checked' }}>
                                    <label class="search_label" for="search-this">{{ 'Only in this document'|trans }}</label>
                                </li>
                                <li class="search_item">
                                    <input class="search_radio" id="search-all" name="document" type="radio" value="all" {{ subset == 'all' ? 'checked' }}>
                                    <label class="search_label" for="search-all">{{ 'In all documents'|trans }}</label>
                                </li>
                            </ul>
                            <hr>
                        {% endif %}
                        <p>{{ 'Search in'|trans }}</p>
                        <ul class="search_list">
                            <li class="search_item">
                                <input class="search_radio" id="search-meta" name="scope" type="radio" value="metadata" {{ scope == 'metadata' ? 'checked' }}>
                                <label class="search_label" for="search-meta">{{ 'Metadata'|trans }}</label>
                            </li>
                            <li class="search_item">
                                <input class="search_radio" id="search-full" name="scope" type="radio" value="fulltexts" {{ scope == 'fulltexts' ? 'checked' }}>
                                <label class="search_label" for="search-full">{{ 'Fulltexts'|trans }}</label>
                            </li>
                            <li class="search_item">
                                <input class="search_radio" id="search-both" name="scope" type="radio" value="all" {{ scope == 'all' ? 'checked' }}>
                                <label class="search_label" for="search-both">{{ 'Metadata and fulltexts'|trans }}</label>
                            </li>
                        </ul>
                        <button class="search_close" title="Schließen">
                            <span class="sr-only">{{ 'Close'|trans }}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>
