<ul>
    <li>
        {% if parentDocument.title is defined %}
            {{ parentDocument.title.0 }}
        {% else %}
            {{ parentDocument.bytitle }}
        {% endif %}
    </li>
    <li>
        <ul>
        {% for childrenDocument in childrenDocuments %}
            <li>
                <a href="{{ path('_detail', {'id': childrenDocument.fields.id}) }}">
                    {% if childrenDocument.fields.title is defined %}
                        {{ childrenDocument.fields.title.0 }}
                    {% elseif childrenDocument.fields.bytitle is defined  %}
                        {{ childrenDocument.fields.bytitle }}
                    {% else %}
                        {{ childrenDocument.fields.id }}
                    {% endif %}
                </a>
            </li>
            <li>
                <ul>
                    {% if childrenDocument.creator is defined %}
                        <li>{{ 'creator'|trans }}: {{ childrenDocument.creator|join(', ') }}</li>
                    {% endif %}
                    {% if childrenDocument.currentno is defined %}
                        <li>{{ 'currentno'|trans }}: {{ childrenDocument.currentno }}</li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>