<div class="just-scanned">
    <figure>
        <img src="{{ path('_image', {'format': 'jpg', 'identifier': (document.presentation_url[0] | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})), 'region': 'full', 'size': '100,165', 'rotation': 0, 'quality': 'default'})  }}" alt="" class="just-scanned_thumb">
        <figcaption class="just-scanned_title"><a href="{{ path('_detail', {id: document.id}) }}">{{ document.title | first }}</a></figcaption>
        {% if document.creator is defined %}
            <span class="just-scanned_creator">{{ 'creator' | transchoice(document.creator | length) }}:
                {% for author in document.creator %}
                 {{ author }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </span>
        {% endif %}
    </figure>
</div>
