<div class="just-scanned">
    {% if document.presentation_url[0] is defined %}
        <a href="{{ path('_detail', {id: document.id}) }}">
            <img class="just-scanned_image"
                 src="{{ path('_image', {'format': 'jpg', 'identifier': (document.presentation_url[0] | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})), 'region': 'full', 'size': '100,165', 'rotation': 0, 'quality': 'default'}) }}"
                 alt=""
            >
        </a>
    {% endif %}
    <div class="just-scanned_content">
        <a class="just-scanned_title" href="{{ path('_detail', {id: document.id}) }}">
            {{ document.nonsort | first }}
        </a>
        {% if document.creator is defined %}
            <span class="just-scanned_author">{{ 'creator' | transchoice(document.creator | length) }}:
                {% for author in document.creator %}
                    {{ author }}{% if loop.last %}{% else %}, {% endif %}
                {% endfor %}
            </span>
        {% endif %}
    </div>
</div>
